@model Colorful_Universe_Library.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>CATEGORY ADD PAGE</h2>

<form class="form-group" method="post">

    <div>
        <label>Category Name</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">ADD</button>
    </div>
    
</form>
